<div class="navbar-top">
  <ul>
    <li><%= link_to "Accueil", root_path %></li>
    <li class="dropdown middle"><%= link_to "Œuvres", abstrait_path %>
      <ul class="under">
        <li><%= link_to "Abstraction", abstrait_path %></li>
        <li><%= link_to "La France que j'aime", figuratif_path %></li>
        <li><%= link_to "Portraits", portrait_path %></li>
      </ul>
    </li>
    <li><%= link_to "L'art en question", lart_en_question_path %></li>
    <li class="right"><%= link_to "Contact", lart_en_question_path %></li>
  </ul>
</div>