<% provide(:title, "Contact") %>
<div class="container-contact">
  <h2>Contact</h2>

  <%= simple_form_for Contact.new, url: contact_path, method: "post", html: { autocomplete: "off" } do |f| %>

    <div class="form-group">
      <%= text_field_tag "contact[name]", nil, class: 'form-control form-credentials', placeholder: (t 'contact.form_name') %>
    </div>
    <div class="form-group">
      <%= text_field_tag "contact[email]", nil, class: 'form-control form-credentials', placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= text_area_tag "contact[message]", nil, class: 'form-control form-message', placeholder: (t 'contact.form_message'), rows: '4' %>
    </div>
    <button type="submit" class="btn btn-primary btn-submit"><%= (t 'contact.form_send') %></button>

  <% end %>
</div>