<% provide(:title, "Accueil") %>
<div class="navbar-home fixed-top">
  <ul>
    <li><%= link_to "Accueil", root_path %></li>
    <li class="dropdown middle"><%= link_to "Œuvres", abstrait_path %>
      <ul class="under">
        <li><%= link_to "Abstraction", abstrait_path %></li>
        <li><%= link_to "La France que j'aime", figuratif_path %></li>
        <li><%= link_to "Portraits", portrait_path %></li>
      </ul>
    </li>
    <li><%= link_to "L'art en question", lart_en_question_path %></li>
  </ul>
</div>
<% url = image_path("67_Coalition_81cmx65cm.JPG") %>
<div class="bg-home" style="background-image: url(<%= url %>);">
  <h1>Jacques Legrez</h1>
</div>
<div class="container-description">
  <div class="description">
    <% url = image_path("avatar.jpg") %>
    <div class="avatar" style="background-image: url(<%= url %>);">
    </div>
    <div class="infos">
      <h2>Artiste Peintre</h2>
      <br>
      <p>J.Legrez vit et travaille en Bourgogne. Sa peinture convoque
      trois thèmes essentiels de l'art pictural, l'abstraction, le paysage, le portrait. Après
      une formation classique, il étudie la technique des maîtres anciens, plus particulièrement
      les peintres du Quattrocento et les maîtres du genre du XVII ème. Son travail s'inscrit
      dans la lignée inhérente à tout créateur, oublier le monde pour créer son propre monde. Ses
      oeuvres sont des huiles sur toiles.</p>
    </div>
  </div>
</div>