<% provide(:title, "Accueil") %>
<% url = image_path("background-home-picture.jpg") %>
<div class="bg-home" style="background-image: url(<%= url %>);">
  <%# Navbar %>
  <div class="navbar-home">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li class="dropdown middle-home width7"><%= link_to "Œuvres", oeuvres_collection_index_path('abstraction') %>
        <ul class="under">
          <li><%= link_to "Abstraction", oeuvres_collection_index_path('abstraction') %></li>
          <li class="no-marg-pad-top"><%= link_to "La France que j'aime", oeuvres_collection_index_path('figuratif') %></li>
          <li><%= link_to "Marine", oeuvres_collection_index_path('marine') %></li>
          <li><%= link_to "Portrait", oeuvres_collection_index_path('portrait') %></li>
        </ul>
      </li>
      <li class="flex-align-center"><%= link_to "L'art en question", lart_en_question_path %></li>
      <li class="right-home"><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
  <%# End of Navbar %>
  <h1>Jacques Legrez
  <p><br><span id="banner-typed-text"></span></p></h1>
</div>
<div class="container-description">
  <div class="description">
    <%# <% url = image_path("IMG_0473.JPG") %>
    <div>
      <img src="../assets/IMG_0473.JPG" alt="Photo artiste" class="avatar">
    </div>
    <div class="infos">
      <h2 id="color-wheat">L'artiste</h2>
      <br>
      <p>J.Legrez vit et travaille en <span class="beige">Bourgogne</span>. Sa peinture convoque trois thèmes essentiels de l'art
      pictural, l'abstraction contemporaine, le paysage, le portrait. Après une formation
      classique, il étudie la technique des maîtres anciens, plus particulièrement les peintres
      du <span class='beige'>Quattrocento</span> et les maîtres du genre du XVII ème. Son travail
      s'inscrit dans la lignée inhérente à tout créateur, oublier le monde pour créer son propre
      monde. Ses oeuvres sont des huiles sur toiles.</p>
    </div>
  </div>
</div>