<% provide(:title, "Liste de prix") %>
<h2><%= (t 'liste_de_prix.titre') %><br>
<span class="large"><%= (t 'liste_de_prix.euro') %></span></h2>
<div class="container-art color-wheat d-grid">
  <% i = 0 %>
  <span><%= i += 1 %> Dans la peau de Pieter BRUEGHEL : 1.250</span>
  <span><%= i += 1 %> Itinéraire : 1.200</span>
  <span><%= i += 1 %> Fin avril : 1.250</span>
  <span><%= i += 1 %> Monosyllabe : 1.250</span>
  <span><%= i += 1 %> Solfège : 1.300</span>
  <span><%= i += 1 %> Ebauche incomplète d'une mémoire : 1.250</span>
  <span><%= i += 1 %> Rue Campagne-Première : 1.200</span>
  <span><%= i += 1 %> Sursis pour Charles MARTEL : 1.150</span>
  <span><%= i += 1 %> Troubles occasionnels de la mémoire : 1.200</span>
  <span><%= i += 1 %> Villégiature : 1.100</span>
  <span><%= i += 1 %> Archipel : 1.200</span>
  <span><%= i += 1 %> Marquises : 11.50 </span>
  <span><%= i += 1 %> Métro Chardon Lagache : 1.150</span>
  <span><%= i += 1 %> Aout à Trevise : 1.300</span>
  <span><%= i += 1 %> Eugène dans le tiroir : 1.250</span>
  <span><%= i += 1 %> Répertoire : 1.150</span>
  <span><%= i += 1 %> Dans l'atelier du Caravage : 3.200</span>
  <span><%= i += 1 %> Métamorphose : 3.200</span>
  <span><%= i += 1 %> Soit dit en passant : 2.900</span>
  <span><%= i += 1 %> Epiphanie : 2.900</span>
  <span><%= i += 1 %> Génome : 3.200</span>
  <span><%= i += 1 %> Fleury Mérogis : 2.900</span>
  <span><%= i += 1 %> La fumée vous dérange : 2.900</span>
  <span><%= i += 1 %> Exil : 2.900</span>
  <span><%= i += 1 %> Les Tricheurs d'après Georges de la Tour : 3.100</span>
  <span><%= i += 1 %> Coefficient : 2.900</span>
  <span><%= i += 1 %> Où est Carlos Goshn ? : 2.900</span>
  <span><%= i += 1 %> Equinoxe : 3.200</span>
  <span><%= i += 1 %> Khartoum.bazar@.com : 1.100</span>
  <span><%= i += 1 %> Mozart est mort seul : 1.150</span>
  <span><%= i += 1 %> Dernier jour à Epidaure : 1.200</span>
  <span><%= i += 1 %> Philarmonie : 1.200</span>
  <span><%= i += 1 %> Franc-parler : 1.200</span>
  <span><%= i += 1 %> Fuite de Pompée après la bataille de Pharsalle : 1.250</span>
  <span><%= i += 1 %> Andromaque : 1.100</span>
  <span><%= i += 1 %> Passé-simple : 1.150</span>
  <span><%= i += 1 %> Focus sur BOTTICELLI : 1.230</span>
  <span><%= i += 1 %> Si loin de toi, si loin de moi : 1.200</span>
  <span><%= i += 1 %> Archipel II : 1.250</span>
  <span><%= i += 1 %> Vous êtes bipolaire ? : 1.200</span>
  <span><%= i += 1 %> Algèbre : 1.280</span>
  <span><%= i += 1 %> Archipel IV : 1.250</span>
  <span><%= i += 1 %> Equateur : 1.280</span>
  <span><%= i += 1 %> Géométrie variable : 1.100</span>
  <span><%= i += 1 %> Le petit logis : 3.600</span>
  <span><%= i += 1 %> Eglise Saint Pierre : VENDU</span>
  <span><%= i += 1 %> Joigny : 3.600</span>
  <span><%= i += 1 %> Guillon : 3.500</span>
  <span><%= i += 1 %> Tonnerre : 3.700</span>
  <span><%= i += 1 %> Savigny en terre plaine : 3.400</span>
  <span><%= i += 1 %> Abbatiale St Germain : 3.300</span>
  <span><%= i += 1 %> Avallon : 3.500</span>
  <span><%= i += 1 %> Paysage : 1.500</span>
  <span><%= i += 1 %> Bourges : 1.450</span>
  <span><%= i += 1 %> Montluçon : 1.400</span>
  <span><%= i += 1 %> Eglise St Pierre : 1.450</span>
  <span><%= i += 1 %> Tonnerre : 2.300</span>
  <span><%= i += 1 %> Tonnerre Lumière d'automne : 2.500</span>
  <span><%= i += 1 %> Bourges - La cathédrale : 2.300</span>
  <span><%= i += 1 %> Ancy le Franc : 650</span>
  <span><%= i += 1 %> Joigny II : 1.450</span>
  <span><%= i += 1 %> Joigny III : 3.500</span>
  <span><%= i += 1 %> Joigny IV : 1.550</span>
  <span><%= i += 1 %> Joigny V : 650</span>
  <span><%= i += 1 %> Village de Bourgogne : nous consulter</span>
  <span><%= i += 1 %> Célibataires à Tonnerre : 2.100</span>
  <span><%= i += 1 %> Abbatiale St Germain : 2.100</span>
  <span><%= i += 1 %> Bourges - La maison de Jacques Coeur : 2.500</span>
  <span><%= i += 1 %> Lumière du soir : 2.000</span>
  <span><%= i += 1 %> Rue Pasteur : nous consulter</span>
  <span><%= i += 1 %> Montluçon : nous consulter</span>
  <span><%= i += 1 %> Le Pont de Joigny : nous consulter</span>
</div>