<% provide(:title, "Liste de prix") %>
<h2><%= (t 'liste_de_prix.titre') %><br>
<span class="large"><%= (t 'liste_de_prix.euro') %></span></h2>
<div class="container-art color-wheat d-grid">
  <% i = 0 %>
  <span><%= i += 1 %> Dans la peau de Pieter BRUEGHEL : 1250</span>
  <span><%= i += 1 %> Itinéraire : 1200</span>
  <span><%= i += 1 %> Fin avril : 1250</span>
  <span><%= i += 1 %> Monosyllabe : 1250</span>
  <span><%= i += 1 %> Solfège : 1300</span>
  <span><%= i += 1 %> Ebauche incomplète d'une mémoire : 1250</span>
  <span><%= i += 1 %> Rue Campagne-Première : 1200</span>
  <span><%= i += 1 %> Sursis pour Charles MARTEL : 1150</span>
  <span><%= i += 1 %> Troubles occasionnels de la mémoire : 1200</span>
  <span><%= i += 1 %> Villégiature : 1100</span>
  <span><%= i += 1 %> Archipel : 1200</span>
  <span><%= i += 1 %> Marquises : 1150 </span>
  <span><%= i += 1 %> Métro Chardon Lagache : 1150</span>
  <span><%= i += 1 %> Aout à Trevise : 1300</span>
  <span><%= i += 1 %> Eugène dans le tiroir : 1250</span>
  <span><%= i += 1 %> Répertoire : 1150</span>
  <span><%= i += 1 %> Dans l'atelier du Caravage : 3200</span>
  <span><%= i += 1 %> Métamorphose : 3200</span>
  <span><%= i += 1 %> Soit dit en passant : 2900</span>
  <span><%= i += 1 %> Epiphanie : 2900</span>
  <span><%= i += 1 %> Génome : 3200</span>
  <span><%= i += 1 %> Fleury Mérogis : 2900</span>
  <span><%= i += 1 %> La fumée vous dérange : 2900</span>
  <span><%= i += 1 %> Exil : 2900</span>
  <span><%= i += 1 %> Les Tricheurs d'après Georges de la Tour : 3100</span>
  <span><%= i += 1 %> Coefficient : 2900</span>
  <span><%= i += 1 %> Où est Carlos Goshn : 2900</span>
  <span><%= i += 1 %> Equinoxe : 3200</span>
  <span><%= i += 1 %> Khartoum.baear.com : 1100</span>
  <span><%= i += 1 %> Mozart est mort seul : 1150</span>
  <span><%= i += 1 %> Dernier jour à Epidaure : 1200</span>
  <span><%= i += 1 %> Philarmonie : 1200</span>
  <span><%= i += 1 %> Franc-parler : 1200</span>
  <span><%= i += 1 %> Fuite de Pompée après la bataille de Pharsalle</span>
  <span><%= i += 1 %> Andromaque : 1100</span>
  <span><%= i += 1 %> Passé-simple : 1150</span>
  <span><%= i += 1 %> Focus sur BOTTICELLI : 1230</span>
  <span><%= i += 1 %> Si loin de toi : 1200</span>
  <span><%= i += 1 %> Archipel II : 1250</span>
  <span><%= i += 1 %> Vous êtes bipolaire ? : 1200</span>
  <span><%= i += 1 %> Algèbre : 1280</span>
  <span><%= i += 1 %> Archipel IV : 1250</span>
  <span><%= i += 1 %> Equateur : 1280</span>
  <span><%= i += 1 %> Géométrie variable : 1100</span>
  <span><%= i += 1 %> Le petit logis : 3600</span>
  <span><%= i += 1 %> Eglise Saint Pierre:  3700</span>
  <span><%= i += 1 %> Joigny : 3600</span>
  <span><%= i += 1 %> Guillon : 3500</span>
  <span><%= i += 1 %> Tonnerre : 3700</span>
  <span><%= i += 1 %> Savigny : 3400</span>
  <span><%= i += 1 %> Abbatiale St Germain : 3300</span>
  <span><%= i += 1 %> Avallon : 3500</span>
  <span><%= i += 1 %> Paysage : 1500</span>
  <span><%= i += 1 %> Bourges : 1450</span>
  <span><%= i += 1 %> Montluçon : 1400</span>
  <span><%= i += 1 %> Eglise St Pierre : 1450</span>
  <span><%= i += 1 %> Tonnerre Eté : 2300</span>
  <span><%= i += 1 %> Tonnerre Lumière d'automne : 2500</span>
  <span><%= i += 1 %> Bourges  Cathédrale : 2300</span>
  <span><%= i += 1 %> Ancy le Franc : 650</span>
  <span><%= i += 1 %> Joigny II : 1450</span>
  <span><%= i += 1 %> Joigny III : 3500</span>
  <span><%= i += 1 %> Joigny IV : 1550</span>
  <span><%= i += 1 %> Joigny V : 650</span>
  <span><%= i += 1 %> Village de Bourgogne : nous consulter</span>
  <span><%= i += 1 %> Célibataires à Tonnerre : 2100</span>
  <span><%= i += 1 %> Abbatiale St Germain : 2100</span>
  <span><%= i += 1 %> La maison de Jacques Coeur : 2500</span>
  <span><%= i += 1 %> Lumière du soir : 2000</span>
  <span><%= i += 1 %> Rue Pasteur : nous consulter</span>
  <span><%= i += 1 %> Montluçon : nous consulter</span>
  <span><%= i += 1 %> Le Pont de Joigny : nous consulter</span>
</div>