<h1>Wesh</h1>
<%= form_for @contact do |f| %>
  <%= f.text_field :name, require: true, placeholder: 'Name' %>
  <br>
  <%= f.email_field :email, require: true, placeholder: 'Email' %>
  <br>
  <%= f.text_area :message, as: :text, placeholder: 'Type your message here' %>
  <br>
  <div class="hidden">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, hint: 'Leave this field blank' %>
  </div>

  <%= f.submit 'Send Message', class: 'btn-primary' %>
<% end %>