<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Jacques Legrez vit et travaille en Bourgogne. Sa peinture
    convoque trois thèmes essentiels de l'art pictural, l'abstraction contemporaine, le paysage,
    le portrait.">
    <link rel="shortcut icon" href="../assets/paint-palette.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@700&display=swap" rel="stylesheet"> 
    
    <%# Intelligent title %>
    <% if current_page?(root_path) %>
      <title>Jacques Legrez Peintre</title>
    <% else %>
      <title>Jacques Legrez Peintre | <%= yield(:title) %></title>
    <% end %>
    <%# end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKWPJG6M7L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QKWPJG6M7L');
    </script>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <% flash.each do |name, msg| %>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
  <style>
    <% if current_page?(lart_en_question_path) | current_page?(contact_path) %>
      body {
        background-color: brown; 
      }
      h2 {
        color: wheat;
      }
      .middle {
        border-left: 3px solid brown;
        border-right: 3px solid brown;
      }
      .right {
        border-left: 3px solid brown;
      }
    <% end %>
  </style>
</html>
