<!DOCTYPE html>
<html>
  <head>
    <title>Jacqueslegrez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar">
    <%= link_to "Accueil", "#" %>
    <%= link_to "Tableaux", "#" %>
    <%= link_to "Contact", "#" %>
  </div>
    <%= yield %>
  </body>
</html>
